.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu__item--active {
  font-weight: 700;
}

.menu__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 32px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--black);
}