.loading {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 6px solid var(--black);
  border-bottom-color: #fff;
  margin: 40px auto 0;
  position: relative;
  animation: loader infinite 1.5s linear;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}