.search {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-bottom: 30px; 
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search__wrapper img {
  position: absolute;
  left: 8px;
  height: 24px;
  width: 24px;
}

.search__wrapper input {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: none;
  background-color: var(--gray);
  padding-left: 58px;
}

.search__wrapper input::placeholder {
  color: #252525;
}

.search button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: var(--black);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}